
<h4> <small> añadir contactos </small></h4>
<hr>
<form >

  <div>
  <div>

    
 
    <div class="card w-75">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-2 col-form-label">Nombre</label>
          <div class="col-8">
    
            <input class="form-control"
                   type="text"
                   placeholder="Nombre"
                   name="nombre"  >
                   
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Apellido"
                 name="apellido"
               >  
        </div>
      </div>
    </div>
    <div class="card w-75">
      <div class="card-body">

        <div class="form-group row">
          <label class="col-2 col-form-label">sexo</label>
          <div class="col-8">
      
            <input class="form-control"
                   type="text"
                   placeholder="hombre"
                   name="sexo"  >
                   
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">empresa</label>
          <div class="col-8">
      
            <input class="form-control"
                   type="text"
                   placeholder="Escribe el nombre de la empresa"
                   name="nombre empresa"  >
                   
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">email</label>
          <div class="col-8">
      
            <input class="form-control"
                   type="email"
                   placeholder="escribe tu email"
                   name="email"  >
                   
          </div>
        </div>
        <div class="form-group row">
          <label class="col-2 col-form-label">telefono(*)</label>
          <div class="col-8">
      
            <input class="form-control"
                   type="number"
                   placeholder="escribe tu telefono"
                   name="telefono"  >
                   
          </div>
        </div>
      
      </div>
    </div>

  </div>
<br>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Descripcion contacto</label>
    <div class="col-8">

      <input class="form-control"
             type="text"
             placeholder="escribe una Descripcion de contactos"
             name="Descripcion"  >
             
    </div>
  </div>

  
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>